#booking-widget {
  position: sticky !important;
  top: 100px !important;
  padding-right: 5%;
  margin-top: 100px;
}

#AppReviewService {
  width: 600px;
  margin-left: -25% !important;
}

#body {
  margin-left: -25% !important;
}

._29NlXvvEEIQAH0FIGBrmhp {
  bottom: 34% !important;
}

.search-bar {
  z-index: 900;
  display: grid;
  height: 100%;
  top: 0;
  position: sticky;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
 }